<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Spring Boot Thymeleaf Example</title>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}">
        <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
        <link rel="stylesheet" href="../static/css/spring-core.css"
        th:href="@{css/spring-core.css}">
    </head>
    <body>
        <div class="container">
            <h1>Hello World</h1>
            <p>This is my thymeleaf index page</p>
        </div>
    </body>
</html>