<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot Thymeleaf Example</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}">
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <link rel="stylesheet" href="../static/css/spring-core.css"
          th:href="@{css/spring-core.css}">
</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(products)}">
        <h2>Product List</h2>
        <table class="table table-striped">
            <tr>
                <td>Product Id</td>
                <td>Product Name</td>
                <td>Product Description</td>
                <td>Product Price</td>
                <td>Product Image</td>
                <td></td>
                <td></td>
            </tr>
            <tr th:each="product : ${products}">
                <td th:text="${product.id}"></td>
                <td th:text="${product.productName}"></td>
                <td th:text="${product.productDesc}"></td>
                <td th:text="${product.productPrice}"></td>
                <td th:text="${product.productImageUrl}"></td>
                <td>
                    <a th:href="${'/product/edit/' + product.id }">Edit</a>
                </td>
                <td>
                    <a th:href="${'/product/' + product.id }">View</a>
                </td>
            </tr>
        </table>
    </div>
    <div class="row">
        <a th:href="@{'/product/new'}">Add New Product</a>
    </div>
</div>
</body>
</html>